fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

pandas
numpy
scikit-learn
statsmodels
xgboost

openpyxl
xlrd
pyarrow

httpx
python-multipart

sqlalchemy
psycopg2-binary
alembic

supabase

reportlab


email-validator

reportlab
openpyxl
pyarrow

scikit-learn
statsmodels
xgboost
joblib

openpyxl
xlrd

scipy